/*
*************************************
anchor-is-valid
Then use styling to change its appearance to that of a link:
*************************************
*/
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

/*
*************************************
estilos icon de pagina cardEscuela y cardindowindows
*************************************
*/
.card-container .card{
  max-width: 360px;
  margin-top: 16px;
}

.card-container .card h5{
  margin-top: 12px;
  margin-bottom: 8px;
  opacity: 0.8;
}

.cardEscuela-label{
  font-weight: bold;
  margin-right:3px;
}

.icon-awesome{
  font-size: 40px;
  margin: 5px;
}

.icon-green{
   color: #12FA04;
}

.icon-orange{
  color: #FA4F04;
}

.icon-yellow{
  color: #D4AC0D;
}

.icon-blue{
  color: #0F04FA;
}

.icon-gray{
  color: #2E4053;
}

.icon-purple{
  color: #740A61;
}

.icon-brown{
  color: #BA4A00;
}



/*
*************************************
*** estilos para mapa digital
*************************************
*/
body{
  margin:0px;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}
#root{
  height: 100%;
}
.map {
    height: 100vh;
}
/*
 html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  #root, #map, #mapUI {
    width: inherit;
    height: inherit;
    background-color: #000;
  }
 */

  .message-form {
    z-index: 999;
    position: absolute;
    top: 185px;
    right: 5px;
    max-width: 500px;
  }
  
  .thanks-form {
    z-index: 999;
    position: absolute;
    top: 5px;
    right: 5px;
    max-width: 220px;
  }
  
  .footer {
    z-index: 999;
    position: absolute;
    bottom: 35px;
    left: 5px;
    padding: 5px;
  }  


  .card-title{
    color: #0000FF;
    font-size: 20px;
  }

  .card-label{
    font-weight: bold;
    margin-right: 5px;
  }

/*
*************************************
For PageAddModal
*************************************
*/

.modal.modal-wide .modal-dialog {
  width: 90%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

.modal-color{
  background-color: #eee;
}

/*
*************************************
For RecordEditModal
*************************************
*/

/**************************************
css style select multiple
*************************************
*/
select[multiple] {
  /* background:none;
   width:auto;
   height:200px;*/
   padding:5px 10px;
   margin:0;
   border-width: 2px;
   border-style: outset;
    border-radius: 5px ;
  /* -moz-appearance: menulist;
   -webkit-appearance: menulist;
   appearance: menulist;*/
 }
 
 select {
 
   padding:5px 10px;
   margin:0;
   border-width: 2px;
   border-style: outset;
   border-radius: 5px ;
 }
 
 select[multiple]:selected {
 
 }
 
 select option:checked {
   border:1px solid #F00;
   color:#009;
   border:1px outset #009;
   font-style: italic;
     font-weight: bold;
     padding-left:2px;
     padding-right:5px;
     background: #009;
     /*background-image:url(./img/png/back_green.png); */
 }
 
 select[multiple]:focus option:checked {
  /* background: #009;red linear-gradient(0deg, red 0%, red 100%);*/
 }
 
 .optionSelectedXXX{ 
 background-image:url(../imagen/png/blank.png); 
 /*background-repeat: no-repeat; 
 background-position: 100% 50%;*/
 }

